<div class="container-fluid" style="background-color: rgba(10, 10, 10, 50%)">
    <div class="container">
        <div class="row">
            <br />
            <h2 class="titulos">MODIFICAR PUBLICACION: {{administrador.id}} </h2>
        </div>
        <div class="row">
            <form action="/admin/administrador/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{administrador.id}}" name="id">
                <div class="form-group">
                    <label for="titulo">Título</label> <br>
                    <input type="text" class="form-control" name="titulo" value="{{administrador.Titulo}}">
                </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-top: 10px;">
                <label for="cuerpo">Contenido</label> <br>
                <textarea name="cuerpo" class="form-control" style="height: 150px;">{{administrador.Cuerpo}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <p>
                    <br><label>Imagen: </label><br>
                    <input type="file" name="imagen" id="imagen">
                </p>
                <p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1"> ¿Eliminar imagen
                        actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;" id="btnmod">Modificar</button>
            </div>
        </div>

        </form>
        <div class="row">
            {{#if error}}
            <p class="mensaje">{{message}}</p>
            {{/if}}
        </div>
        <br><br><br><br>
    </div>
</div>